*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ededed;
	font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	letter-spacing: 1px;
}
span {
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #242424;
	background: #FFF;
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.header__title{
	font-weight: 100;
}
.optionsBar{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #242424;
    font-size: 11pt;
    text-transform: uppercase;
    margin-left: 30px;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: flex;
    margin-left: 30px;
}
nav ul{
	background: rgb(135, 100, 184);;
	/*background: #05817d;*/
	list-style: none;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #FFF;
}
nav .principal > a{
    background: url(../images/arrow_bottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	background: rgb(135, 100, 184);
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
}
nav li ul a{
	position: relative;
	padding: 10px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background: rgb(124, 77, 189);
	color:  #FFF;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

.container{
	padding: 90px 15px 15px;
}

/**** FORMULARIO DE REGISTRO ******/
.form_register{
	width: 400px;
	margin: auto;
	border: solid 1px #ddd;
	border-radius: 3px;
	background: #FFF;
}
.form_register__title{
	font-size: 20px;
	font-weight: 100;
	color: #333333;
	padding: 10px;
}
.container_title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn_close{
	padding: 5px;
	padding-bottom: 3px;
	margin-right: 10px;
	color: #929191;
}
.btn_close:hover{
	color: black;
	background-color: #0a0a0a0c;
	border-radius: 1000%;
	
	
}
.form{
	position: relative;
	background: #FFF;
	margin: auto;
	padding: 20px;
}
.form__label{
	display: block;
	font-size: 13px;
	margin: 10px auto;
	color: #333333;
}

.form__input{
	display: block;
	width: 100%;
	padding: 7px;
	outline: none;
	font-size: 13px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.notItem option:first-child{
	display: none;
}
.text-danger{
	color: #F44336 !important;
}

.btn_save{
	font-size: 12px;
	background: rgb(135, 100, 184);
	color: #FFF;
	margin: 10px 0 0 0;
	font-weight: normal;
	padding: 7px 12px;
	border: 0;
	cursor: pointer;
	width: 100%;
	
}
.btn_save:hover{
	background: rgb(124, 77, 189);
}
.alert{
	width: 100%;
	border-radius: 3px;
	background-color: #66e07d66;
	margin: 0 auto;
}
.alert_text{
	padding: 5px;
}
.msg_error{
	background: #ee4a4a;
	color: #242424;
	padding: 5px;
}
.msg_save{
	background: rgb(14, 199, 153);
	color: #333333;
	padding: 5px;
}

/***** LISTA DE USUARIOS *****/
.datatable{
	width: 100%;
	margin: auto;
	font-size: 12pt;
	border: solid 1px rgb(199, 196, 196);
	border-collapse: collapse;
	background-color: #FFF;
}

.datatable-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
	margin-bottom: 20px;

}
.datatable-title__title{
	font-size: 20px;
	display: inline-block;
	font-weight: 100;
}
.datatable-links{
	display: flex;
 	 gap: 30px;
	 align-items: center;
}
.datatable-header__add-btn{
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(124, 77, 189);;
	color: #FFF;
}

.datatable-header__add-btn:hover{
	background: rgb(124, 77, 189);
	color: #242424;
}
.datatable-header__close{
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	color: #929191;
}
.datatable-header__close:hover{
	color: black;
}
.datatable th{
	padding: 10px;
	text-align: left;
	border-bottom: solid 1px rgb(199, 196, 196);
	background-color: #242424;
	color: #FFF;
}

.datatable td{
	padding: 5px;
	border-bottom: solid 1px rgb(214, 211, 211);
}

.datatable__thead{
	border-bottom: solid 1px black;
}

.delete-icon{
	padding: 5px;
	font-size: 20px;
	border-radius: 5px;
	color: #242424;
}
.delete-icon:hover{
	color: red;
}
.edit-icon{
	padding: 5px;
	font-size: 20px;
	border-radius: 5px;
	color: #242424;
}
.edit-icon:hover{
	color: rgb(124, 77, 189); ;
}